
<p appHighlight color="purple">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, vel.</p>

<!--<div>-->
<!--  <button (click)="type = 'community'">Community</button>-->
<!--  <button (click)="type = 'education'">Education</button>-->
<!--  <button (click)="type = 'development'">Development</button>-->
<!--</div>-->

<!--<button *appHasRole="[role.ADMIN, role.USER]">Can see only admin</button>-->

<!--<app-development *ngIf="type === 'development'"></app-development>-->
<!--<app-education *ngIf="type === 'education'"></app-education>-->
<!--<app-community *ngIf="type === 'community'"></app-community>-->

<!--<ng-container [ngSwitch]="type">-->
<!--  <app-development *ngSwitchCase="'development'"></app-development>-->
<!--  <app-education *ngSwitchCase="'education'"></app-education>-->
<!--  <app-community *ngSwitchCase="'community'"></app-community>-->
<!--  <p *ngSwitchDefault>Default Component</p>-->
<!--</ng-container>-->

<!--<button (click)="isToggled = !isToggled">Toggle</button>-->
<!--<p *ngIf="isToggled; else defaultTemplatef">Open</p>-->

<!--<ng-template [ngIf]="isToggled" [ngIfElse]="defaultTemplatef">Open</ng-template>-->
<!--<ng-template #defaultTemplatef>Default</ng-template>-->

<!--<p *ngFor="let num of arr; let index=index; let last=last; let even=even; let odd=odd; let first=first">-->
<!--  <span>Index: {{ index }}</span>-->
<!--  <span>last: {{ last }}</span>-->
<!--  <span>Even: {{ even }}</span>-->
<!--  <span>Odd: {{ odd }}</span>-->
<!--  <span>First {{ first }}</span>-->
<!--</p>-->
<!--<ng-template [ngFor] [ngForOf]="arr" let-num><p>{{ num }}</p></ng-template>-->
